@import "tailwindcss";

/* BLOCCO SCROLL MOBILE OTTIMIZZATO PER iOS */
html, body {
  overscroll-behavior-y: none; /* Disattiva il "pull-to-refresh" */
  background-color: #166534; /* Colore verde identico al bg-green-800 di Tailwind */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

/* Nasconde la scrollbar per Chrome, Safari e dispositivi mobile */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Nasconde la scrollbar per Firefox, Edge e IE */
.scrollbar-hide {
    -ms-overflow-style: none;  /* Edge */
    scrollbar-width: none;     /* Firefox */
}