@import "tailwindcss";

/* BLOCCO SCROLL MOBILE E RIMBALZI */
html, body {
  overscroll-behavior-y: none; /* Disattiva il "pull-to-refresh" */
  overflow: hidden; /* Impedisce qualsiasi scroll */
  position: fixed; /* Ancoraggio assoluto fondamentale per iOS Safari */
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}